* text=auto !eol
/4ti2_manual.pdf -text
/IMA_25Oct2006.pdf -text
/Tutorial-Problems.pdf -text
articles/data/32x80.gro.gz -text
articles/data/32x80.mar.gz -text
articles/data/3cex.html -text
articles/data/index.html -text
/back.jpg -text
examples/333 -text
examples/333.mod -text
examples/334 -text
examples/334.mod -text
examples/335 -text
examples/335.mod -text
examples/344 -text
examples/344.mod -text
examples/345 -text
examples/345.mod -text
examples/355 -text
examples/355.mod -text
examples/444 -text
examples/444.mod -text
examples/genModel -text
examples/grin -text
examples/h.html -text
examples/hppi10 -text
examples/hppi11 -text
examples/hppi12 -text
examples/hppi13 -text
examples/hppi14 -text
examples/hppi15 -text
examples/hppi16 -text
examples/hppi17 -text
examples/hppi18 -text
examples/hppi19 -text
examples/hppi20 -text
examples/hppi4 -text
examples/hppi5 -text
examples/hppi6 -text
examples/index.html -text
examples/magic3x3 -text
examples/magic4x4 -text
examples/magic5x5 -text
examples/magic6x6 -text
examples/s-magic3 -text
examples/twistedCubic -text
version_1.0/4ti2_linux_1.0.tar.gz -text
version_1.0/4ti2_sun_1.0.tar.gz -text
version_1.0/graver -text
version_1.0/groebner -text
version_1.0/hilbert -text
version_1.0/linux/graver -text
version_1.0/linux/groebner -text
version_1.0/linux/hilbert -text
version_1.0/linux/output -text
version_1.0/output -text
version_1.0/sun/graver -text
version_1.0/sun/groebner -text
version_1.0/sun/hilbert -text
version_1.0/sun/output -text
version_1.1/4ti2_linux_1.1.tar.gz -text
version_1.1/4ti2_sun_1.1.tar.gz -text
version_1.1/full_4ti2_linux_1.1.tar.gz -text
version_1.1/full_4ti2_sun_1.1.tar.gz -text
version_1.1/index.html -text
version_1.2/4ti2_v1.2_linux_x86.tgz -text
version_1.2/4ti2_v1.2_macOSX.tgz -text
version_1.2/4ti2_v1.2_solaris.tgz -text
version_1.2/4ti2_v1.2_win32_x86.tgz -text
version_1.2/lite_4ti2_linux_1.2.tar.gz -text
version_1.3.1/4ti2_v1.3.1_linux_x86.tgz -text
version_1.3.1/4ti2_v1.3.1_macOSX.tgz -text
version_1.3.1/4ti2_v1.3.1_solaris.tgz -text
version_1.3.1/4ti2_v1.3.1_source.tgz -text
version_1.3.1/4ti2_v1.3.1_win32_x86.zip -text
version_1.3.2/4ti2-1.3.2.tar.gz -text
version_1.3/4ti2_v1.3_linux_x86.tgz -text
version_1.3/4ti2_v1.3_macOSX.tgz -text
version_1.3/4ti2_v1.3_solaris.tgz -text
version_1.3/4ti2_v1.3_source.tgz -text
version_1.3/4ti2_v1.3_win32_x86.zip -text
